$media-md: 960px;
$media-sm: 560px;

@mixin md {
    @media only screen and (max-width: $media-md) {
        @content;
    }
}
@mixin sm {
    @media only screen and (max-width: $media-sm) {
        @content;
    }
}

:root {
    --color-black: #181818;
    --color-blue: #0050FF;
    --color-white: #F8F8F8;
    --color-white2: #FFFFFF;
    --color-gray: #C8C8C8;
    --color-gray2: #DCDCDC;
    --color-gray3: #909090;

    --color-black-f: #181818;
    --color-white-f: #F8F8F8;

    --width1: 5vw;
}

.dark-mode {
    .header-logo {
        filter: invert(98%);
    }
    --color-black: #F8F8F8;
    --color-blue: #1070ff;
    --color-white: #000000;
    --color-white2: #181818;
    --color-gray: #363636;
    --color-gray2: #f8f8f8;
    --color-gray3: #909090;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../font/TTNorms-Medium.woff') format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TT Norms';
    src: url('../font/TTNorms-Light.woff') format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'TT Norms';
    src: url('../font/TTNorms-LightItalic.woff') format("woff");
    font-weight: 300;
    font-style: italic;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
    margin: 0;
}
h1 {
    font-size: 120px;
    @include md {
        font-size: 80px;
    }
}
h2 {
    font-size: 90px;
    @include md {
        font-size: 60px;
    }
    @include sm {
        font-size: 40px;
    }
}
h3 {
    font-size: 60px;
    @include md {
        font-size: 45px;
    }
    @include sm {
        font-size: 30px;
    }
}
h4 {
    font-size: 45px;
    @include md {
        font-size: 30px;
    }
    @include sm {
        font-size: 24px;
    }
}
h5 {
    font-size: 30px;
    @include md {
        font-size: 24px;
    }
    @include sm {
        font-size: 20px;
    }
}
h6 {
    font-size: 24px;
    @include md {
        font-size: 20px;
    }
    @include sm {
        font-size: 15px;
    }
}
p {
    margin: 0;
    font-size: 17px;
    @include md {
        font-size: 15px;
    }
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}
ul {
    margin: 0;
}
li {
    text-decoration: none;
    list-style: none;
}

.loading {
    position: fixed;
    width: 34%;
    height: 100vh;
    pointer-events: none;
    background: var(--color-blue);
    z-index: 999999999999999;
    transform: scale(1,0);
    transform-origin: top;
}
#loading1 {
    left: 0;
    transition: transform cubic-bezier(.6,.2,0,1) 1.2s;
}
#loading2 {
    left: 33.5%;
    transition: transform cubic-bezier(.6,.2,0,1) 1.2s .15s;
}
#loading3 {
    left: 67%;
    transition: transform cubic-bezier(.6,.2,0,1) 1.2s .3s;
}
.page-enter-active, .page-leave-active {
    transition: all 1.5s
}
.page-enter .loading, .page-leave-active .loading {
    transform: scale(1,1);
    transform-origin: bottom;
}

#loading-first {
    position: fixed;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    background: var(--color-white);
    z-index: 999999999999999999;
    opacity: 1;
    &.load {
        opacity: 0;
    }
}

.scroll-target {
    position: absolute;
}

body {
    position: relative;
    margin: 0 auto;
    color: var(--color-black);
    background: var(--color-white);
    font-family: "TT Norms", "Noto Sans JP", sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: .04em;

    -webkit-user-select: none;
    user-select: none;
    @include md {
        font-size: 16px;
    }
    @include sm {
        font-size: 15px;
    }
}
.font {
    font-family: "Inter", "Noto Sans JP", sans-serif;
}
.btn {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    background: var(--color-black);
    border-radius: 100%;
    transition: transform cubic-bezier(0,.5,.5,1) .5s;
    @include md {
        width: 80px;
        height: 80px;
    }
    .arrow {
        text-align: center;
        line-height: 120px;
        color: var(--color-white);
        transition: transform cubic-bezier(0,.5,.5,1) .5s;
        @include md {
            line-height: 80px;
        }
    }
}

header {
    position: fixed;
    z-index: 1000;
    .header-logo {
        height: 60px;
        position: fixed;
        top: 40px;
        left: var(--width1);
        transition: opacity .3s;
        @include md {
            height: 50px;
        }
        &:hover {
            opacity: .5;
        }
    }
    ul {
        font-family: "inter", "Noto Sans JP", sans-serif;
        position: fixed;
        top: 60px;
        right: var(--width1);
        margin: 0;
        .hide {
            @include sm {
                display: none;
            }
        }
        li {
            margin-left: 40px;
            display: inline-block;
            @include sm {
                margin-left: 15px;
            }
            a {
                transition: all .3s;
                &:hover {
                    opacity: .5;
                }
            }

            input {
                position: absolute;
                right: 0;
                top: 0;
                margin: 0;
                width: 48px;
                height: 100%;
                z-index: 5;
                opacity: 0;
                cursor: pointer;
            }
            .toggle-label {
                width: 48px;
                height: 28px;
                background: #181818;
                position: relative;
                display: inline-block;
                vertical-align: middle;
                border-radius: 100px;
                transition: 0.4s;
                box-sizing: border-box;
                &:after {
                    content: '';
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    border-radius: 100%;
                    left: 6px;
                    top: 6px;
                    z-index: 2;
                    background: #f8f8f8;
                    transition: 0.4s;
                }
                .toggle-light {
                    position: absolute;
                    width: 14px;
                    height: 14px;
                    left: 7px;
                    top: 7px;
                    z-index: 1;
                }
                .toggle-dark {
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    right: 8px;
                    top: 8px;
                    z-index: 1;
                }
            }
            input:checked {
                +.toggle-label{
                    background-color: #f8f8f8;
                    &:after{
                        left: 26px;
                        background: #181818;
                    }
                }
            }
        }
    }
}

.main {
    padding-top: 130px;
    margin: 0 auto 300px;
    @include md {
        margin: 0 auto 200px;
    }
    @include sm {
        margin: 0 auto 150px;
        padding-top: 160px;
    }
    .main-block {
        position: absolute;
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        letter-spacing: .5em;
        transform: rotateZ(90deg);
        @include md {
            height: 80vw;
        }
        :nth-child(4) {
            margin-left: calc(-60px - 5vw);
            animation: GenreAnim 1s 1.4s cubic-bezier(.6,.2,0,1) both;
        }
        :nth-child(3) {
            margin-left: calc(100px + 8vw);
            animation: GenreAnim 1s 1.6s cubic-bezier(.6,.2,0,1) both;
        }
        :nth-child(2) {
            margin-left: calc(-80px - 7vw);;
            animation: GenreAnim 1s 1.8s cubic-bezier(.6,.2,0,1) both;
        }
        :nth-child(1) {
            animation: GenreAnim 1s 2s cubic-bezier(.6,.2,0,1) both;
        }

        @keyframes GenreAnim {
            from {
                transform: translateX(-100px);
                clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            }
            to {
                transform: translateX(0px);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            }
        }

        h5 {
            position: relative;
            margin: 8vw 0;
            padding: 10px 100px;
            background: var(--color-white-f);
            color: var(--color-black-f);
            @include md {
                padding: 8px 80px;
            }
            @include sm {
                padding: 6px 60px;
            }
        }
    }
    .main-title {
        position: relative;
        z-index: -2;
        color: var(--color-blue);

        :nth-child(1) p {
            margin-left: var(--width1);
            animation: TitleAnim .8s .5s cubic-bezier(0,.7,.3,1) both;
        }
        :nth-child(2) p {
            margin-left: 15vw;
            animation: TitleAnim .8s .75s cubic-bezier(0,.7,.3,1) both;
        }
        :nth-child(3) p {
            margin-left: -20vw;
            animation: TitleAnim .8s 1s cubic-bezier(0,.7,.3,1) both;
        }
        :nth-child(4) p {
            margin-left: 4vw;
            animation: TitleAnim .8s 1.25s cubic-bezier(0,.7,.3,1) both;
        }

        @keyframes TitleAnim {
            from {
                transform: translateY(300px) rotateZ(8deg);
            }
            to {
                transform: translateY(0px) rotateX(0deg);
            }
        }

        .title-block {
            overflow: hidden;
            .title {
                font-size: 200px;
                text-align: center;
                @include md {
                    font-size: 20vw;
                }
            }
        }
        p {
            font-size: 50px;
            font-weight: 400;
            @include md {
                font-size: 5vw;
            }
        }
        .light {
            font-weight: 300;
        }
        .outline {
            -webkit-text-stroke: 7px var(--color-blue);
            letter-spacing: .06em;
            @include sm {
                -webkit-text-stroke: 4px var(--color-blue);
            }
        }
        .outline::before {
            content: '+DESIGN';
            position: absolute;
            -webkit-text-stroke: 1px var(--color-white);
            color: var(--color-white);

        }
        .italic {
            font-style: italic;
        }
    }
}
.about {
    position: relative;
    background: var(--color-white2);
    .about-top {
        position: absolute;
        display: inline-block;
        left: 0;
        right: 0;
        margin: -60px auto;
        z-index: 1;
        @include md {
            margin: -40px auto;
        }
        .btn:hover {
            transform: translateY(10px) scale(1.1);
            .arrow {
                transform: translateY(20px);
            }
        }
        .top-item {
            text-align: center;
            margin-top: 30px;
        }
    }
    .about-img {
        padding-top: 450px;
        @include md {
            padding-top: 250px;
        }
        @include sm {
            padding-top: 150px;
        }
        .img-wrapper {
            display: flex;
            img {
                width: 640px;
                height: auto;
                vertical-align: top;
                @include md {
                    width: 90vw;
                }
            }
        }
        .img-wrapper::-webkit-scrollbar {
            display: none;
        }
        .parallax-txt {
            font-size: 256px;
            font-weight: 300;
            white-space: nowrap;
            letter-spacing: .1em;
            margin: -150px 0;
            text-transform: uppercase;
            @include md {
                margin: -16vw 0;
                font-size: 30vw;
            }
        }
    }
    .about-title {
        margin-top: 400px;
        text-align: center;
        line-height: 1.5;
        @include md {
            margin-top: 300px;
        }
        @include sm {
            margin-top: 200px;
        }
    }
    .about-content {
        padding: 200px var(--width1) 300px 0;
        max-width: 1600px;
        display: flex;
        align-items: center;
        @include md {
            padding: 150px var(--width1) 250px 0;
        }
        @include sm {
            padding: 100px var(--width1) 150px;
        }
        .content-img {
            position: relative;
            width: 80%;
            height: 800px;
            margin-right: calc(20vw - 100px);
            overflow: hidden;
            background: var(--color-white);
            @include md {
                height: 700px;
            }
            @include sm {
                display: none;
            }
            .img-block {
                width: 100%;
                height: 100%;
                video {
                    position: absolute;
                    height: 120%;
                    width: auto;
                    margin: auto;
                    vertical-align: top;
                    left: 50%;
                    top: 16%;
                    transform: translateX(-50%) translateY(-50%);
                }
            }
        }
        .content-txt {
            line-height: 2.5;
            display: inline-block;
            width: 900px;
            @include sm {
                width: auto;
            }
            p {
                font-size: 24px;
                @include md {
                    font-size: 20px;
                }
                @include sm {
                    font-size: 15px;
                }
            }
            .em {
                font-size: 30px;
                color: var(--color-blue);
                @include md {
                    font-size: 24px;
                }
                @include sm {
                    font-size: 20px;
                }
            }
        }
    }
}
.projects {
    padding: 0 var(--width1);
    margin: 300px auto 250px;
    @include md {
        margin: 250px auto 200px;
    }
    @include sm {
        margin: 150px auto 150px;
    }
    .projects-title {
        display: flex;
        .title {
            margin-left: 2.5vw;
            line-height: .8;
        }
    }
    .projects-content {
        padding: 250px 0 80px;
        @include sm {
            padding: 150px 0 0;
        }
        &:nth-child(2n) {
            .content-item {
                margin: 0 0 16px auto;
            }
            .content-img {
                @include md {
                    padding-bottom: 100%;
                }
                :nth-child(1) img {
                    width: 45vw;
                    height: auto;
                    transform: translate(3vw, 2vw) rotateZ(-15deg);
                    @include md {
                        width: 75vw;
                    }
                }
                :nth-child(2) img {
                    transform: translate(32vw, 12vw) rotateZ(20deg);
                    z-index: 1;
                    width: 20vw;
                    height: auto;
                    @include md {
                        width: 35vw;
                        transform: translate(50vw, 20vw) rotateZ(20deg);
                    }
                }
                :nth-child(3) img {
                    transform: translate(14vw, 22vw) rotateZ(-5deg);
                    z-index: 2;
                    width: 20vw;
                    height: auto;
                    @include md {
                        width: 35vw;
                        transform: translate(20vw, 36vw) rotateZ(-5deg);
                    }
                }
            }
        }
        &:nth-child(2n-1) {
            .content-item {
                margin: 0 0 16px 0;
            }
            .content-img {
                float: right;
                @include md {
                    padding-bottom: 100%;
                    float: none;
                }
                :nth-child(1) img {
                    width: 45vw;
                    height: auto;
                    transform: translate(5vw, 2vw) rotateZ(10deg);
                    @include md {
                        width: 75vw;
                    }
                }
                :nth-child(2) img {
                    transform: translate(28vw, 16vw) rotateZ(-15deg);
                    z-index: 1;
                    width: 20vw;
                    height: auto;
                    @include md {
                        width: 35vw;
                        transform: translate(48vw, 30vw) rotateZ(-15deg);
                    }
                }
                :nth-child(3) img {
                    transform: translate(10vw, 22vw) rotateZ(5deg);
                    z-index: 2;
                    width: 20vw;
                    height: auto;
                    @include md {
                        width: 35vw;
                        transform: translate(16vw, 38vw) rotateZ(5deg);
                    }
                }
            }
        }
        .content-img {
            width: 55vw;
            .img-block {
                img {
                    position: absolute;
                }
            }
        }
        .content-item {
            width: 400px;
            @include sm {
                width: 200px;
            }
            .number {
                color: var(--color-blue);
                padding-bottom: 30px;
                border-bottom: solid 1px var(--color-gray);
                @include sm {
                    padding-bottom: 20px;
                }
            }
            .title {
                padding-top: 30px;
                @include sm {
                    padding-top: 20px;
                }
            }
        }
        .parallax-txt {
            position: relative;
            color: var(--color-gray2);
            font-size: 256px;
            font-weight: 300;
            white-space: nowrap;
            letter-spacing: .1em;
            margin-top: calc(30vw - 450px);
            z-index: -1;
            text-transform: uppercase;
            @include md {
                position: absolute;
                font-size: 30vw;
                margin-top: -100vw;
            }
        }
    }
}
.edz {
    padding: 0 var(--width1);
    margin: 250px auto;
    @include md {
        margin: 200px auto;
    }
    @include sm {
        margin: 150px auto;
    }
    .viewport {
        cursor: grab;
        &:active {
            cursor: grabbing;
        }
    }
    .edz-title {
        display: flex;
        justify-content: flex-end;
        .title {
            line-height: .8;
            margin-left: 2.5vw;
            @include sm {
                font-size: 9vw;
            }
        }
    }
    .edz-wrapper {
        display: flex;
        margin-top: 150px;
        @include sm {
            margin-top: 100px;
        }
        .edz-article {
            margin-right: calc(20px + 4vw);
            .article-img {
                position: relative;
                overflow: hidden;
                .number {
                    position: absolute;
                    color: var(--color-white);
                    margin: 10px 20px;
                    z-index: 1;
                }
                img {
                    width: auto;
                    height: 360px;
                    vertical-align: top;
                    transition: transform cubic-bezier(0,.5,.5,1) .5s;
                    @include md {
                        height: 300px;
                    }
                    @include sm {
                        height: 180px;
                    }
                    &:hover {
                        transform: scale(1.15);
                    }
                }
            }
            .article-title {
                margin-top: 30px;
            }
            .article-subtitle {
                margin-top: 20px;
            }
        }
        .article-all {
            margin: 120px 0 0 60px;
            @include md {
                margin: 100px 0 0 20px;
            }
            @include sm {
                margin: 40px 0 0 20px;
            }
            .btn:hover {
                transform: translateX(10px) scale(1.1);
                .arrow {
                    transform: translateX(20px);
                }
            }
            .all-item {
                text-align: center;
                margin-top: 30px;
            }
        }
    }
}
.members {
    padding: 0 var(--width1);
    margin: 250px auto 300px;
    @include md {
        margin: 200px auto 200px;
    }
    @include sm {
        margin: 150px auto 150px;
    }
    .members-title {
        display: flex;
        .title {
            margin-left: 2.5vw;
            line-height: .8;
        }
    }
    .members-wrapper {
        margin-top: 100px;
        @include sm {
            margin-top: 50px;
        }
        .members-content {
            display: flex;
            align-items: center;
            padding: 50px 0;
            border-bottom: solid 1px var(--color-gray);
            @include md {
                padding: 40px 0;
            }
            .content-logo {
                height: 90px;
                width: auto;
                border-radius: 100%;
                margin-left: 30px;
                transition: opacity .3s;
                @include md {
                    height: 60px;
                    margin-left: 0;
                }
                &:hover {
                    opacity: .5;
                }
            }
            .title-block {
                display: flex;
                align-items: flex-end;
                margin-left: 60px;
                @include md {
                    margin-left: 40px;
                }
                @include sm {
                    margin-left: 30px;
                    flex-wrap: wrap;
                }
                .content-title {
                    min-width: 300px;
                    line-height: 1;
                    @include md {
                        min-width: 200px;
                    }
                }
                .content-subtitle {
                    color: var(--color-gray3);
                    margin-left: 50px;
                    @include md {
                        margin-left: 30px;
                        min-width: 200px;
                    }
                    @include sm {
                        margin-left: 0;
                        font-size: 11px;
                        margin-top: 11px;
                    }
                }
            }
        }
    }
}
.contact {
    display: flex;
    padding: 300px var(--width1) 150px;
    margin: 0 auto;
    background: var(--color-black-f);
    color: var(--color-white-f);
    @include md {
        padding: 250px var(--width1) 150px;
    }
    @include sm {
        padding: 150px var(--width1) 150px;
        flex-wrap: wrap;
    }
    .contact-title {
        display: flex;
        .title {
            line-height: .8;
            margin: 0 60px 0 2.5vw;
        }
    }
    .contact-content {
        margin-left: auto;
        @include sm {
            margin: 80px 0 0 0;
        }
        .content-item {
            margin-bottom: 60px;
            .title {
                position: relative;
                display: inline-block;
                margin-top: 20px;
            }
            .title::after {
                content: '';
                position: absolute;
                bottom: -8px;
                left: 0;
                width: 100%;
                height: 3px;
                background: var(--color-white-f);
                transform: scale(0, 1);
                transform-origin: right top;
                transition: transform cubic-bezier(.7, 0, .3, 1) .8s;
            }
            .title:hover::after {
                transform-origin: left top;
                transform: scale(1, 1);
            }
        }
    }
}
footer {
    height: 80px;
    padding: 0 var(--width1);
    margin-top: -80px;
    display: flex;
    align-items: center;
    color: var(--color-white-f);
    .top {
        margin: 0 0 0 auto;
    }
}

#overflow {
    overflow-x: hidden;
}
.edz2 {
    height: 100vh;
    position: relative;
    #scroll {
        position: absolute;
        width: 100vw;
        height: 100vh;
    }
    .edz-wrapper {
        position: absolute;
        display: flex;
        width: 100vw;
        padding-left: var(--width1);
        top: 50%;
        transform: translateY(-50%);
        .edz-title {
            display: flex;
            justify-content: flex-end;
            margin-right: 240px;
            .all {
                align-self: flex-end;
                margin: 0 auto 20px 0;
            }
            .number-block {
                overflow: hidden;
                height: 40px;
                .number {
                    font-size: 32px;
                    animation: TitleAnim3 .8s .5s cubic-bezier(0,.7,.3,1) both;
                }
            }
            .title-block {
                .block {
                    overflow: hidden;
                }
                .title {
                    margin: -30px 0 0 50px;
                    .block {
                        h1 {
                            animation: TitleAnim2 .8s cubic-bezier(0,.7,.3,1) both;
                        }
                        @include md {
                            line-height: 1.4;
                        }
                        @for $i from 1 through 5 {
                            &:nth-child(#{$i}) h1 {
                                animation-delay: 0.25s * $i + .5s;
                            }
                        }
                    }
                    @keyframes TitleAnim2 {
                        from {
                            transform: translateY(200px) rotateZ(8deg);
                        }
                        to {
                            transform: translateY(0px) rotateZ(0deg);
                        }
                    }
                }
                ul {
                    margin-top: 90px;
                    line-height: 2;
                    color: var(--color-gray);
                    @include sm {
                        margin-top: 30px;
                    }
                    .block {
                        p {
                            display: inline-block;
                            transition: all .3s;
                            animation: TitleAnim2 .8s cubic-bezier(0,.7,.3,1) both;
                            &:hover {
                                color: var(--color-black);
                            }
                        }
                        @for $i from 1 through 10 {
                            &:nth-child(#{$i}) p {
                                animation-delay: 0.15s * $i + 1s;
                            }
                        }
                    }
                    @keyframes TitleAnim3 {
                        from {
                            transform: translateY(40px);
                        }
                        to {
                            transform: translateY(0px);
                        }
                    }
                }
            }
        }
        .edz-article {
            margin-right: calc(40px + 4vw);
            animation: ArticleAnim .8s cubic-bezier(0,.7,.3,1) both;
            @for $i from 1 through 5 {
                &:nth-child(#{$i}) {
                    animation-delay: .2s * $i + 1.6s;
                }
            }
            @keyframes ArticleAnim {
                from {
                    opacity: 0;
                    transform: translateX(50px);
                }
                to {
                    opacity: 1;
                    transform: translateX(0px);
                }
            }
            .article-img {
                position: relative;
                overflow: hidden;
                .number {
                    position: absolute;
                    color: var(--color-white-f);
                    margin: 10px 20px;
                    z-index: 1;
                }
                img {
                    width: auto;
                    height: 360px;
                    vertical-align: top;
                    transition: transform cubic-bezier(0,.5,.5,1) .5s;
                    @include md {
                        height: 300px;
                    }
                    @include sm {
                        height: 240px;
                    }
                    &:hover {
                        transform: scale(1.15);
                    }
                }
            }
            .article-title {
                margin-top: 30px;
                white-space: nowrap;
            }
            .article-subtitle {
                margin-top: 20px;
            }
        }
        .article-all {
            margin: 120px 0 0 var(--width1);
            @include md {
                margin: 100px 0 0 var(--width1);
            }
            @include sm {
                margin: 80px 0 0 var(--width1);
            }
            .btn:hover {
                transform: translateX(-10px) scale(1.1);
                .arrow {
                    transform: translateX(-20px);
                }
            }
            .all-item {
                text-align: center;
                margin-top: 30px;
            }
        }
    }
    #scrollbar-hrz,#scrollbar-hrz1 {
        position: fixed;
        bottom: 8%;
        height: 2px;
        margin-left: 150px;
        width: calc(100vw - 300px);
        transform-origin: 0% 50%;
        background: var(--color-gray);
        @include md {
            margin-left: 10vw;
            width: 80vw;
        }
    }
    #scrollbar-hrz {
        background: var(--color-black);
        z-index: 5;
        transition: transform .6s cubic-bezier(.3,.3,.2,1);
        transform: scale(0,1);
    }
    #scrollbar-hrz1 {
        animation: ScrollAnim 1.2s 2s cubic-bezier(.6,.2,0,1) both;
    }
    @keyframes ScrollAnim {
        from {
            transform: scale(0,1);
        }
        to {
            transform: scale(1);
        }
    }
}
.moving {
    padding: 130px var(--width1) 0;
    margin: 50px auto 0;
    @include md {
        padding: 100px var(--width1) 0;
    }
    @include sm {
        padding: 80px var(--width1) 0;
    }
    .moving-title {
        line-height: 2;
    }
    .moving-content {
        padding: 80px 0;
        @include md {
            padding: 60px 0;
        }
        .txt {
            line-height: 2.5;
        }
        .content-item {
            color: var(--color-white);
            margin: 60px 0;
            .title {
                position: relative;
                display: inline-block;
                background: rgba(0, 80, 255, 1);
                border: solid 3px var(--color-blue);
                padding: 12px 24px;
                transition: all .3s;
                &:hover {
                    color: var(--color-blue);
                    background: rgba(0, 80, 255, 0);
                }
            }
        }
    }
}

